extends formLayout

block form
	h5.card-title.text-center #{title}
	form.form-signin(action= action method='post')
		div.form-label-group
			input.form-control#inputEmail(name='username' type='email' autofocus required value= email)
			label(for='inputEmail') Email
		div.form-label-group
			input.form-control#inputPassword(type='password' name='password' required value= password)
			label(for='inputPassword') Password
		button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='submit') #{buttonLabel}
	if error
		hr
		div.alert.alert-danger #{error}
	hr
	if githubHref
		a.btn.btn-outline-primary.text-uppercase.w-100.btn-social.mb-2(href= githubHref) sign in with github
	if googleHref
		a.btn.btn-outline-primary.text-uppercase.w-100.btn-social(href= googleHref) sign in with google
	if redirectTo
		hr
		a.btn.btn-outline-dark.text-uppercase.w-100(href= redirectTo) #{redirectToMessage}
