extends formLayout

block form
	h5.card-title.text-center #{client.name}
	form.form-signin(action= action method='post')
		input.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='submit' value='Allow')
		input.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='submit' value='Deny' name="cancel")
	if error
		hr
		div.alert.alert-danger #{error}