doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' id="all-css")
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' id="bootstrap-css")
	body
		div.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm
			h5.my-0.mr-md-auto.font-weight-normal.text-uppercase auth1-server
			if isAuthenticated
				a.btn.btn-outline-primary.text-uppercase(href='/logout') logout
			else
				a.btn.btn-outline-primary.text-uppercase.mr-4(href='/login') login
				a.btn.btn-outline-primary.text-uppercase(href='/register') register
		div.container
			block content
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js')